body{
    margin: 0;
}

body, button, input{
    font-family: 'Raleway', sans-serif;
}



/*Header*/


header{
    display: flex;
    flex-wrap: wrap;
}

header img{
    padding: 48px 0;
}

nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

nav a{
    width: 162px;
    text-align: center;
    padding-top: 48px;
    border-top: 3px solid #F2F2F2;
}

nav a:hover{
    border-color: #0065FC;
    font-weight: bolder;
}

header span{
    padding-right: 28px;
    padding-top: 48px;
}

header span a{
    color: #0065FC;
    font-weight: bold;
}

.titreSoustitre{
    flex-basis: 100%;
    margin-bottom: 20px;
}


/*Conteneur recherche*/


.iconeRecherche{
    display: none;
}

.recherche{
    margin-bottom: 20px;
}

.champRechercher{
    display: flex;
    margin-bottom: 3%;
}

.fa-map-marker-alt{
    padding: 16.5px 19px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

input[type=search]{
    width: 234px;
    height: 51px;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

input[type=submit]{
    width: 135px;
    height: 50px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    font-size: 1rem;
    font-weight: 680px;
    
}

input[type=submit]:hover{
    color: #0065FC;
    background-color: white;
    border: 1px solid #F2F2F2;
    cursor: pointer;
}

.filtres{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-bottom: 20px;
   
    
}

.filtres h3{
    margin-right: 28px;
}

.filtres button{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1.05rem;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    background: none;
    padding: 0 20px 0 0;
    margin-right: 24px;
    outline: none;
    cursor: pointer;
}

.icone{
    display: flex;
    height: 50px;
    width: 50px;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 50px;
    color: #0065FC;
}

.filtres button:hover .icone{
    color: black;
    background-color: white;
    border-color: #F2F2F2;
}

.filtres button:hover{
    background-color: #DEEBFF;
    color: #0065FC;
}

.info .icone{
    display: inline-flex;
}


main{
    max-width: 1340px;
    margin: 0 auto;
}

h2{
    font-size: 1.25rem;
    margin: 0;
}

h3{
    font-size: 1.06rem;
    font-weight: bold;
}

h4{
    font-size: 1rem;
    font-weight: bold;
}

p{
    font-size: 0.8rem;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #0065FC;
}

.greyStar{
    color: #F2F2F2;
}

/*Conteneur résultats*/

.resultats{
    display: flex;
}
.resultatsPrincipaux{
    background: #F2F2F2;
    border-radius: 20px;
    padding-top: 2%;
    margin: 0 1% 0 1%;
    float: left;
    max-width: 60%;
    height: 600px;
}

.resultatsPrincipaux h2{
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    padding-left: 35px;
}


.conteneurCarte{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.conteneurCarte figure{
    background: white;
    border-radius: 20px;
    width: 26%;
    padding: 6px;
    margin: 2%;
}

.conteneurCarte img{
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    padding-bottom: 2px;
}
.conteneurCarte figcaption{
    display: block;
    padding-top: 1px;
    margin-top: 1%;
}

.conteneurCarte h4{
    padding-bottom: 1px;
    
}
.afficherPlus{
    font-weight: 700;
    padding-left: 35px;
}

/*Populaires*/

.resultatsPopulaires .fa-chart-line{
    margin-left: 250px;
    margin-top: 5px;
}


.cartePopulaire{
    height: 29%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.resultatsPopulaires{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 20px;
    width: 60%;
    height: 600px;
    margin-right: 2%;
    margin-right: 2%;
    padding-right: 0%;
    max-width: 35%;
    float: right;
    padding-top: 2%;
}

.resultatsPopulaires h2{
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    margin-left: 20px;
    justify-content: left;
}
.resultatsPopulaires .fa-chart-line{
    float: right;
}
.conteneurCartePop{
    display: flex;
    flex-direction: column;
    width: 92%;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}
.conteneurCartePop figure{
    display: flex;
    flex-wrap: nowrap;
    background: white;
    border-radius: 20px;
    margin: 2%;
    padding: 2px;
    object-fit: cover;
    margin-left: 2%;
}

.conteneurCartePop img{
    width: 190px;
    height: 140px;
    border-top-left-radius: 20px;
    border-bottom-left-radius:  20px;
    vertical-align:middle; 
    object-fit: cover;
    position: relative;
    margin: 2% 2% 2% 2%;
}

.conteneurCartePop figcaption{
    width: 43%;
    padding-left: 30px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.cartePopulaire fa-star{
    padding-top: 70px;
}
.starblue{
    color: #0065FC;
}

.stargrey{
    color: #d8d8d8;
}
/*Activités*/

.conteneurActivites{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    
}

.activites h2{
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    margin: 4% 0 0 0%;
}

.activites figure{
    background: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow:  0 1px 20px 1px rgb(221, 218, 218);
    margin: 15px 25px 15px 25px;
    
}

.activites img{
    width: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.activites figcaption{
    font-size: 15px;
    padding-left: 20px;
}

.activites .vieuxport{
    height: 540px;
}

.vieuxport img{
    height: 90%;
    object-fit: cover;
}

.activites .pomegues{
    height: 300px;
}
.pomegues img{
    height: 80%;
    object-fit: cover;
}

.activites .frioul{
    height: 145px;
    margin-top: 95px;
    margin-bottom: 40%;
}

.frioul img{
    height: 70%;
    object-fit: cover;
}
.frioul h4{
    display: flex;
   margin-top: 2%;
   margin-bottom: 1%;
}

.activites .calanques{
    height: 540px;
}
.calanques img{
    height: 90%;
    object-fit: cover;
}
.activites .notredame{
    height: 250px;
}
.notredame img{
    height:80%;
    object-fit: cover;
}
.activites .longchamp{
    height: 250px;
    margin-top: 40px;
}
.longchamp img{
    height: 80%;
    object-fit: cover;
}


/*Footer*/


footer{
    display: flex;
    justify-content: space-around;
    background: #F2F2F2;
    margin-top: 4%;
    padding-top: 20px;
    justify-content: flex-start;
    
}

.contenuFooter{
    max-width: 1340px;
    margin: auto;
    display: flex;
}

.contenuFooter div{
    margin-right: 228px;
    padding-bottom: 29px;
}

footer h3{
    padding: 46px 0 9px 0;
}

li{
    font-size: 1.06rem;
    padding: 9px 0;
}

ul{
    list-style: none;
    padding: 0;
}


/*Site -> responsive */


@media all and (max-width: 1200px){

    /*Header*/

    header img, header span{
        padding: 0 !important;
    }

    header{
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }

    header img{
        margin-left: 20px;
    }

    nav{
        flex-basis: 100%;
        order: 2;
        display: flex;
    }

    nav a{
        width: 50%;
        text-align: center;
        padding: 16px 0;
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
    }

    header span{
        order: 1;
        margin-right: 20px;
    }

    .titreSoustitre{
        order: 3;
        margin: 20px 20px;
    }


    /*Conteneur recherches*/


    .champRechercher{
        margin: 0 20px 30px 20px;
    }

    input[type=search]{
        width: auto;
    }

    .textRecherche{
        display: none;
    }

    .iconeRecherche{
        display: block;
        width: 51px;
        height: 51px;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #0065FC;
        color: white;
        font-size: 1rem;
        font-weight: 700;
    }

    .iconeRecherche:hover{
        color: #0065FC;
        background-color: white;
        border: 1px solid #F2F2F2;
        cursor: pointer;
    }

    .filtres{
        padding: 0 10px 0 20px;
    }

    .filtres button{
        margin: 0 10px 12px 0;
        font-size: 0.9rem;
    }

    .filtres h3{
        flex-basis: 100%;
    }


    /*Conteneur résultats*/


    small{
        margin: 0 20px;
    }

    .blockResultats{
        flex-direction: column-reverse;
        max-height: none;
       
    }

    .resultatsPopulaires{
        width: auto;
        margin: 0;
        border-radius: 0;
    }

    .resultatsPopulaires h2{
        padding-bottom: 26px;
    }

    .resultatsPopulaires .conteneurCarte{
        margin: 0 20px;
    }

    .resultatsPopulaires .lienCarte{
        margin: 5px 0;
    }

    .resultatsPrincipaux{
        background: none;
    }

    .resultatsPrincipaux h2{
        padding: 0;
        margin-left: 20px;
    }

    .afficherPlus{
        padding: 0;
        margin-left: 20px;
    }

    .imgPrincipal{
        width: 326px;
        height: 114px;
    }

    .resultatsPrincipaux .lienCarte{
        margin: 6px 0;
    }


    /*Conteneur activités*/


    .activites h2{
        padding-left: 20px;
    }

    .conteneurActivites{
        flex-direction: row !important;
        justify-content: space-evenly;
        height: auto;
    }

    .carteActivites h4{
        padding: 16.5px 22px;
    }

    .imgActivite{
        width: 334px;
        height: 134px !important;
    }

    .lienCarteActivites{
        margin: 12px 0;
    }


    /*Footer*/


    .contenuFooter{
        flex-direction: column;
    }

    footer h3{
        padding: 46px 0 9px 0;
    }

    .contenuFooter div{
        margin-right: 0;
        margin-left: 20px;
        padding-bottom: 0;
    }
}


/*Site responsive mobile*/


@media all and (min-width: 300px) and (max-width: 375px){

    .cartePopulaire{
        width: 306px;
    }

    .resultatsPopulaires .fa-chart-line{
        margin-left: 100px;
    }

    .imgPrincipal{
        width: 306px;
    }

    .imgActivite{
        width: 318px;
    }
}

